<md-dialog aria-label="Policy" style="max-height:85%; padding:16px">
	<form>
		<md-dialog-content style="width:600px;" layout="column">
			<!-- IMPORT -->
			<div layout="row" flex ng-if="model.operationType == 'import'">
				<div style="font-size:xx-large; margin-bottom: 20px;" layout-align="center center"
					 layout="row" md-colors="{'color':'blue'}" ng-if="model.operationType == 'import'" flex>
					Summary
				</div>
				<md-button class="md-icon-button" ng-click="cancel()"><md-icon style="font-size: 2em;">close</md-icon></md-button>
			</div>
			
			<div style="font-size:large; margin-bottom: 20px;" layout-align="center center"
				layout="column" ng-if="model.operationType == 'import'">
				
				<md-toolbar layout="row" layout-margin="" md-colors="{'background': 'blue-A200'}">
			    	<div class="md-toolbar-tools">
			        	<h2 flex md-truncate style="font-size: large; color: white;">Total Row</h2>
			        	<md-button class="md-fab" style="background-color: white;" md-colors="{'color':'blue'}">
			        		<span style="font-size: large;">{{model.summary.totalRow}}</span>
			          	</md-button>
			        </div>
			    </md-toolbar>
			    <md-toolbar layout="row" layout-margin="" md-colors="{'background': 'green'}">
			    	<div class="md-toolbar-tools">
			        	<h2 flex md-truncate style="font-size: large; color: white;">Success Row</h2>
			        	<md-button class="md-fab" style="background-color: white;" md-colors="{'color':'green'}">
			          		<span style="font-size: large;">{{model.summary.totalSuccessRow}}</span>
			          	</md-button>
			        </div>
			    </md-toolbar>
			    <md-toolbar layout="row" layout-margin="" md-colors="{'background': 'red-A200'}">
			    	<div class="md-toolbar-tools">
			        	<h2 flex md-truncate style="font-size: large; color: white;">Failure Row</h2>
			        	<md-button class="md-fab" style="background-color: white;" md-colors="{'color':'red'}">
			          		<span style="font-size: large;">{{model.summary.totalFailureRow}}</span>
			          	</md-button>
			        </div>
			    </md-toolbar>
			    <md-toolbar layout="row" layout-margin="" md-colors="{'background': 'orange-A200'}">
			    	<div class="md-toolbar-tools">
			        	<h2 flex md-truncate style="font-size: large; color: white;">Warning Row</h2>
			        	<md-button class="md-fab" style="background-color: white;" md-colors="{'color':'orange'}">
			          		<span style="font-size: large;">{{model.summary.totalWarnRow}}</span>
			          	</md-button>
			        </div>
			    </md-toolbar>
			    <md-toolbar layout="row" layout-margin="" md-colors="{'background': 'grey'}">
			    	<div class="md-toolbar-tools">
			        	<h2 flex md-truncate style="font-size: large; color: white;">Skip Row</h2>
			        	<md-button class="md-fab" style="background-color: white;" md-colors="{'color':'grey'}">
			          		<span style="font-size: large;">{{model.summary.totalSkipRow}}</span>
			          	</md-button>
			        </div>
			    </md-toolbar>
			</div>
			
			<!-- IMPORT -->
			<div ng-if="model.operationType == 'import'">
				<div style="font-size:x-large;" layout-align="center center"
					layout="row" md-colors="{'color':'blue'}" ng-if="model.summary.isSuccessAll">
					Executed Successfully
				</div>
				<div style="font-size:x-large;" layout-align="center center"
					layout="row" md-colors="{'color':'orange'}" ng-if="!model.summary.isSuccessAll && model.summary.isWarningOccured">
					Some Warning Occurred
				</div>
				
				<div style="font-size:x-large;" layout-align="center center"
					layout="row" md-colors="{'color':'red'}" ng-if="(!model.summary.isSuccessAll && model.summary.isFailureOccured) 
					|| (!model.summary.isSuccessAll && !model.summary.isFailureOccured && !model.summary.isWarningOccured)">
					Some Failures Occurred 
				</div>
			</div>

			<!-- EXPORT -->
			<div ng-if="model.operationType != 'import'">
				<div style="font-size:x-large;" layout-align="center center"
					layout="row" md-colors="{'color':'blue'}">
					Executed Successfully
				</div>
			</div>
		</md-dialog-content>
		
		<md-dialog-actions layout="row" layout-align="center center" style="padding:0">
			<md-button ng-click="model.download(model.anchor)"
				flex="80" class="md-raised md-primary">Download</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>