<md-content class="md-padding general-background" layout="column">
	<div class="md-padding">
		<h2 style="color: white;">Order Validation Single - Self Service</h2>

		<md-tabs class="tabs-simple md-no-ink-bar-color" md-dynamic-height>
      		<md-tab style="text-transform: none;" label="MyTsel" md-on-select="resetInput()">
      			<div layout="row" flex>
      				<div layout="column" flex>
						<md-card layout="column" style="padding: 5px 30px 30px 30px;" flex="nogrow">
      						<div layout="column" flex>
      							<h3>Request</h3>
								<form layout="column" name="productCheck" flex>
									<div layout="row" flex>
										<div layout="column" flex>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40">Environment</div>
												<div layout="row" layout-align="start center" style="font-size: 0.8em;">
													<md-radio-group ng-model="input.env" layout="row" layout-align="start center" aria-labelledby="environment">
														<md-radio-button value="Preprod" class="md-primary">Preprod</md-radio-button>
														<md-radio-button value="Prod" class="md-primary">Prod</md-radio-button>
													</md-radio-group>
												</div>
											</div>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40"><span>MSISDN A<sup style="color:red; font-weight:bold;font-size:1em;"> * </sup></span></div>
												<md-input-container flex>
													<input name="msisdna" ng-pattern="regex.msisdn" ng-model="input.msisdn_a" style="margin-top: 8px;" aria-label="msisdn_a"/>
													<div ng-messages="productCheck.msisdna.$error">
														<div ng-message="pattern">Input not valid! Please input numeric.</div>
													</div>
												</md-input-container>
											</div>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40">MSISDN B (Gift)</div>
												<md-input-container flex>
													<input ng-model="input.msisdn_b" name="msisdnb" ng-pattern="regex.msisdn" style="margin-top: 8px;" aria-label="msisdn_b"/>
													<div ng-messages="productCheck.msisdnb.$error">
														<div ng-message="pattern">Input not valid! Please input numeric.</div>
													</div>
												</md-input-container>
											</div>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40"><span>Product ID / Business ID<sup style="color:red; font-weight:bold;font-size:1em;"> * </sup></span></div>
												<md-input-container flex>
													<input name="bid" ng-pattern="regex.bid" ng-model="input.bid" style="margin-top: 8px;" aria-label="bid"/>
													<div ng-messages="productCheck.bid.$error">
														<div ng-message="pattern">Input not valid! Please input numeric.</div>
													</div>
												</md-input-container>
											</div>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40"><span>Purchase Mode<sup style="color:red; font-weight:bold; font-size:1em;"> * </sup></span></div>
												<md-input-container flex>
													<md-select aria-label="test" style="margin-top: 8px;" flex ng-model="input.purchaseMode" md-on-close="clearSearchTerm()" md-container-class="selectdemoSelectHeader">
														<md-select-header class="demo-select-header">
															<input ng-model="searchTerm" aria-label="Purchase Mode filter" type="search" ng-keydown="$event.stopPropagation()"
																   placeholder="Ex. RESELLER" class="demo-header-searchbox md-text">
														</md-select-header>
														<md-option ng-repeat="purchaseMode in purchaseModes | filter:searchTerm track by purchaseMode" ng-value="purchaseMode" >
															{{ purchaseMode }}
														</md-option>
													</md-select>
												</md-input-container>
											</div>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40"><span>Payment Method<sup style="color:red; font-weight:bold;font-size:1em;"> * </sup></span></div>
												<md-input-container flex>
													<md-select aria-label="test" style="margin-top: 8px" flex ng-model="input.paymentMethod" md-on-close="clearSearchTerm()" md-container-class="selectdemoSelectHeader">
														<md-select-header class="demo-select-header">
															<input ng-model="searchTerm" aria-label="Payment Method filter" type="search" ng-keydown="$event.stopPropagation()"
																   placeholder="Ex. RSEMONEY" class="demo-header-searchbox md-text">
														</md-select-header>
<!--														<md-input-container style="padding: 2px 2px 2px 11px;margin-bottom: -5px;">-->
<!--															<md-checkbox ng-checked="input.paymentMethod.length === paymentMethods.length" style="width:442px;" ng-click="selectPaymentMethod()">{{(input.paymentMethod.length == paymentMethods.length)?'Deselect All':'Select All'}}</md-checkbox>-->
<!--														</md-input-container>-->
														<md-option ng-value="x" ng-repeat="x in paymentMethods | filter:searchTerm track by x">
															{{x}}
														</md-option>
													</md-select>
												</md-input-container>
											</div>
										</div>
										<md-divider style="margin: 0px 25px;"></md-divider>
										<div layout="column" flex>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40"><span>Purchase Type</span></div>
												<div layout="row" layout-align="start center" style="font-size: 0.8em;">
													<md-radio-group ng-model="input.purchaseType" layout="row" layout-align="start center" aria-labelledby="purchaseType">
														<md-radio-button value="0" class="md-primary">One Time</md-radio-button>
														<md-radio-button value="1" class="md-primary">Subscription</md-radio-button>
													</md-radio-group>
												</div>
											</div>

											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40"><span>Order Type<sup style="color:red; font-weight:bold;font-size:1em;"> * </sup></span></div>
												<md-input-container flex>
													<md-select placeholder="Order Type" name="orderType" ng-model="input.orderType" style="margin-top: -10px" flex>
														<md-option value="ACT">ACTIVATION</md-option>
														<md-option value="DEACT">DEACTIVATION</md-option>
													</md-select>
												</md-input-container>
											</div>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40"><span>Channel<sup style="color:red; font-weight:bold;font-size:1em;"> * </sup></span></div>
												<md-input-container flex>
													<md-select aria-label="test" style="margin-top: 8px" flex ng-model="input.channel" md-on-close="clearSearchTerm()" md-container-class="selectdemoSelectHeader">
														<md-select-header class="demo-select-header">
															<input ng-model="searchTerm" aria-label="Channel filter" type="search" ng-keydown="$event.stopPropagation()"
																   placeholder="Ex. DigiPos" class="demo-header-searchbox md-text">
														</md-select-header>
														<md-option ng-repeat="channel in channels | filter:searchTerm track by channel.key" ng-value="channel.key" >
															{{ channel.key }} - {{ channel.name }}
														</md-option>
													</md-select>
												</md-input-container>
											</div>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40">Campaign ID</div>
												<md-input-container flex>
													<input ng-model="input.campaignId" style="margin-top: 8px;" aria-label="campaignId"/>
												</md-input-container>
											</div>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40">Timeframe</div>
												<md-input-container flex>
													<input ng-model="input.timeframe" style="margin-top: 8px;" aria-label="timeframe"/>
												</md-input-container>
											</div>
											<div layout="row" flex>
											</div>
										</div>
									</div>
									<div layout="row">
										<div layout="row" layout-align="start center">
											<span style="color:red; font-weight: bold">*Required</span>
										</div>
										<div layout="row" layout-align="end end" flex>
											<md-button class="md-raised" style="color:#2065ac; background-color: white; text-transform: none; font-size: 0.8em;" ng-click="clearForm(productCheck)">Clear</md-button>
											<div flex="3"></div>
											<md-button class="md-raised" style="text-transform: none; font-size: 0.8em;" ng-disabled="mandatoryFieldEmpty('mytsel')"
													   ng-style="productCheck.$valid && !mandatoryFieldEmpty('mytsel')? {'color': 'white', 'background-color': '#2065ac'} : {'background':'silver', 'color':'white'}" ng-click="productChecking()">
												Check
											</md-button>
										</div>
									</div>
								</form>
      						</div>
      					</md-card>
						<md-card layout="column" style="padding: 5px 30px 30px 30px;" ng-if="showReview" flex>
							<h3>Validation Result</h3>
							<md-tabs class="tabs-blue md-no-ink-bar-color" md-dynamic-height md-selected="tracking.tabIndex">
								<md-tab ng-if="!isResultSuccessEmpty()">
									<md-tab-label>Success</md-tab-label>
									<md-tab-body>
										<md-content>
											<div layout="column" flex>
												<md-card style="margin: 25px 1px 10px 1px;">
													<div layout="row" style="padding: 15px;" flex>
														<div layout="column" flex>
															<md-card layout="row" style="padding: 5px 20px;" flex>
																<div layout="row" layout-align="start center" flex>Commercial Name</div>
																<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600;" flex>{{ resultSuccess.order.product.commercial_name }}</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;" flex>
																<div layout="row" layout-align="start center" flex>Purchase Mode</div>
																<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600;" flex>
																	{{ input.purchaseMode }}
																</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;" flex>
																<div layout="row" layout-align="start center" flex>Payment Method</div>
																<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600;" flex>
																	{{ resultSuccess.order.product.price.sub_class }}
																</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;" flex>
																<div layout="row" layout-align="start center" flex>Purchase Type</div>
																<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600;" flex>
																	{{ input.purchaseType === '0' ? 'One Time' : 'Subscription' }}</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;" flex>
																<div layout="row" layout-align="start center" flex>Channel</div>
																<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600;" flex>{{ resultSuccess.transaction.channel }}</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;" flex>
																<div layout="row" layout-align="start center" flex>Price / Original Price</div>
																<div layout="row" layout-align="end center" style="font-weight: 600;" flex>
																	<span style="color: #172b4d;">Rp&nbsp;{{ getPrice(resultSuccess.order.product.price.characteristic) }}</span>
																	<span style="color: #172b4d;">&nbsp;&nbsp;/&nbsp;&nbsp;<s>Rp&nbsp;{{ getOriginalPrice(resultSuccess.order.product.price.characteristic) }}</s></span>
																</div>
															</md-card>
														</div>
														<md-divider style="margin: 20px 25px;"></md-divider>
														<div layout="column" flex>
															<md-card layout="row" style="padding: 5px 20px;" flex>
																<div layout="row" layout-align="start center" flex>Active Period</div>
																<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600;" flex>
																	{{ resultSuccess.order.product.validity_period }}&nbsp;{{ resultSuccess.order.product.validity_period_uom }}
																</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;" flex ng-repeat="allowance in resultSuccess.order.product.cfs" ng-if="isAllowanceAllowed(allowance)">
																<div layout="row" layout-align="start center" flex>
																	{{ allowance.commercial_name }}
																</div>
																<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600;" flex>
																	{{ allowance.quota }}&nbsp;{{ transformQuotaUom(allowance) }}
																</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;">
																<div layout="row" layout-align="start " flex="25">Success Message</div>
																<div layout="row" style="color: #172b4d; font-weight: 600; text-align: right;" flex>
																	{{ transformNotification(resultSuccess.order.eligibility_result[0].notification) }}
																</div>
															</md-card>
														</div>
													</div>
												</md-card>
											</div>
										</md-content>
									</md-tab-body>
								</md-tab>
								<md-tab ng-if="!isResultFailedEmpty()">
									<md-tab-label>Failed</md-tab-label>
									<md-tab-body>
										<md-content>
											<div layout="column" style="overflow-y: scroll; overflow-x: hidden; height: 500px;">
												<md-card style="margin: 25px 1px 10px 1px;">
													<div layout="row" style="padding: 15px;" flex>
														<div layout="column" flex>
															<md-card layout="row" style="padding: 5px 20px;">
																<div layout="row" layout-align="start center" flex>Status Code</div>
																<div layout="row" layout-align="end center" style="color: red; font-weight: 600;" flex>{{ resultFailed.transaction.status_code }}</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;">
																<div layout="row" layout-align="start center" flex>Description</div>
																<div layout="row" layout-align="end center" style="color: red; font-weight: 600;" flex>{{ resultFailed.transaction.status_description }}</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;">
																<div layout="row" layout-align="start" flex>Order Notification</div>
																<div layout="row" layout-align="end center" style="color: red; font-weight: 600; text-align: right;" flex>{{ resultFailed.order.eligibility_result[0].notification }}</div>
															</md-card>
														</div>
													</div>
												</md-card>
											</div>
										</md-content>
									</md-tab-body>
								</md-tab>
								<md-tab>
									<md-tab-label>Raw Response</md-tab-label>
									<md-tab-body>
										<md-content>
											<md-card layout="column" flex>
												<div layout="column" style="overflow-y: scroll; overflow-x: auto; height: 500px;" layout-padding="5">
													<pre>{{ result | json }}</pre>
												</div>
											</md-card>
										</md-content>
									</md-tab-body>
								</md-tab>
								<md-tab>
									<md-tab-label>Report</md-tab-label>
									<md-tab-body>
										<md-content>
											<md-card layout="column" flex>
												<div layout="column" layout-padding="5" flex>
													<div layout="row">
														<h4 flex>Result</h4>
														<md-button class="md-raised" style="text-transform: none; font-size: 0.8em; background-color: #2065ac; color: white;" ng-click="exportJsonToPdf('mytsel')">
															Export to PDF&nbsp;<md-icon md-svg-src="img/pdf-file.svg" style="color: white;" aria-label="file-pdf"></md-icon>
														</md-button>
														<md-button class="md-raised" style="text-transform: none; font-size: 0.8em; background-color: #2065ac; color: white;" ng-click="exportJsonToExcel()">
															Export to Excel&nbsp;<md-icon md-svg-src="img/xlsx-file.svg" style="color: white;" aria-label="file-xlsx"></md-icon>
														</md-button>
														<md-button class="md-raised" style="text-transform: none; font-size: 0.8em;color: white;background-color: #2065ac">Continue to Product FUT</md-button>
													</div>
													<div layout="column" style="padding: 5px; border-style: solid; border-width: thin; border-color: red;" flex id="printable">
														<div layout="row">
															<div layout="row" layout-margin="" flex="nogrow">
																<div layout="row">
																	<img width="210px" src="img/telkomsel_new.png">
																</div>
																<div layout="column" layout-margin="" layout-align="center start">
																	<span style="font-size: 1.6em; font-weight: bold;">Digital Core</span>
																	<span style="font-size: 0.8em;">Product Automation Test Report</span>
																</div>
															</div>
															<md-divider style="margin: 10px 10px; border-color: red;"></md-divider>
															<div layout="column" style="color: #2065ac; font-size: 0.8em;" flex>
																<md-card layout="row" style="padding: 0px 20px;" flex>
																	<div layout="row" layout-align="start center" flex>Tester</div>
																	<div layout="row" layout-align="end center" flex>{{ tester }}</div>
																</md-card>
																<div style="padding: 5px 20px;" flex></div>
															</div>
															<div layout="column" style="color: #2065ac; font-size: 0.8em;" flex>
																<md-card layout="row" style="padding: 5px 20px;" flex>
																	<div layout="row" layout-align="start center" flex="nogrow">Date</div>
																	<div layout="row" layout-align="end center" flex>{{ currentDate }}</div>
																</md-card>
																<md-card layout="row" style="padding: 5px 20px;" flex>
																	<div layout="row" layout-align="start center" flex="nogrow">Time</div>
																	<div layout="row" layout-align="end center" flex>{{ currentTime }}</div>
																</md-card>
															</div>
														</div>
														<md-divider layout="row" style="margin: 10px 0px 0px 0px; background-color: red;"></md-divider>
														<div layout="column" flex>
															<md-table-container>
																<table md-table>
																	<thead md-head md-order="filter.inputSortBy" md-on-reorder="">
																	<tr md-row>
																		<th md-column md-order-by="testId">TEST ID</th>
																		<th md-column md-order-by="bid">BID</th>
																		<th md-column md-order-by="reqTestData" style="width: 40%;">REQUEST AND TEST DATA</th>
																		<th md-column md-order-by="result" style="width: 40%;">RESULT</th>
																	</tr>
																	</thead>
																	<tbody md-body>
																	<tr md-row ng-style="$even ? {'background-color': 'lavender'} : {'background-color': 'whitesmoke'}">
																		<td md-cell style="vertical-align: baseline;">{{ result.transaction.transaction_id }}</td>
																		<td md-cell style="vertical-align: baseline;">{{ result.order.product.id }}</td>
																		<td md-cell style="vertical-align: baseline;">
																			<div layout="column" style="color: #2065ac; font-size: 0.8em;" flex>
																				<md-card layout="row" style="padding: 5px 20px;" flex>
																					<div layout="row" layout-align="start center" style="opacity: 70%;" flex>MSISDN</div>
																					<div layout="row" layout-align="end center" flex>{{ result.order.subscriber_a.service_id }}</div>
																				</md-card>
																				<md-card layout="row" style="padding: 5px 20px;" flex>
																					<div layout="row" layout-align="start center" style="opacity: 70%;" flex>BRAND</div>
																					<div layout="row" layout-align="end center" flex>{{ result.order.subscriber_a.brand }}</div>
																				</md-card>
																				<md-card layout="row" style="padding: 5px 20px;" flex>
																					<div layout="row" layout-align="start center" style="opacity: 70%;" flex>BALANCE</div>
																					<div layout="row" layout-align="end center" flex>{{ result.order.subscriber_a.balance }}</div>
																				</md-card>
																				<md-card layout="row" style="padding: 5px 20px;" flex>
																					<div layout="row" layout-align="start center" style="opacity: 70%;" flex>CHANNEL</div>
																					<div layout="row" layout-align="end center" flex>{{ result.transaction.channel }}</div>
																				</md-card>
																				<md-card layout="row" style="padding: 5px 20px;" flex>
																					<div layout="row" layout-align="start center" style="opacity: 70%;" flex>PURCHASE MODE</div>
																					<div layout="row" layout-align="end center" flex>{{ input.purchaseMode }}</div>
																				</md-card>
																				<md-card layout="row" style="padding: 5px 20px;" flex>
																					<div layout="row" layout-align="start center" style="opacity: 70%;" flex>PAYMENT METHOD</div>
																					<div layout="row" layout-align="end center" flex>{{ result.order.product.price.sub_class }}</div>
																				</md-card>
																			</div>
																		</td>
																		<td md-cell style="vertical-align: baseline;">
																			<div layout="row" flex>
																				<div layout="column" style="color: #2065ac; font-size: 0.8em;" flex ng-if="result.transaction.status_code === 'RV-0000'">
																					<div layout="column">
																						<md-button style="color: white; background-color: limegreen;">ELIGIBLE</md-button>
																					</div>
																					<md-card layout="row" style="padding: 5px 20px;" flex>
																						<div layout="row" layout-align="start center" flex>COMM NAME</div>
																						<div layout="row" layout-align="end center" style="white-space: pre-wrap; text-align: right;" flex>{{ result.order.product.commercial_name }}</div>
																					</md-card>
																					<md-card layout="row" style="padding: 5px 20px;" flex>
																						<div layout="row" layout-align="start center" flex>PRICE</div>
																						<div layout="row" layout-align="end center" style="white-space: pre-wrap; text-align: right;" flex>Rp&nbsp;{{ getPrice(resultSuccess.order.product.price.characteristic) }}</div>
																					</md-card>
																					<md-card layout="row" style="padding: 5px 20px;" flex>
																						<div layout="row" layout-align="start center" flex>ORIGINAL PRICE</div>
																						<div layout="row" layout-align="end center" style="white-space: pre-wrap; text-align: right;" flex>Rp&nbsp;{{ getOriginalPrice(resultSuccess.order.product.price.characteristic) }}</div>
																					</md-card>
																					<md-card layout="row" style="padding: 5px 20px;" flex>
																						<div layout="row" layout-align="start center" flex>ACTIVE PERIOD</div>
																						<div layout="row" layout-align="end center" style="white-space: pre-wrap; text-align: right;" flex>{{ resultSuccess.order.product.validity_period }}&nbsp;{{ resultSuccess.order.product.validity_period_uom }}</div>
																					</md-card>
																					<md-card layout="row" layout-align="space-between none" style="padding: 5px 20px;" flex="nogrow">
																						<span flex>ALLOWANCE</span> <span style="text-align: right;" flex>{{ allowanceResponseHandler(result.order.product.cfs) }}</span>
																					</md-card>

																					<md-card layout="row" layout-align="space-between none" style="padding: 5px 20px;" flex="nogrow">
																						<span flex>NOTIFICATION</span> <span style="text-align: right;" flex>
																							{{ transformNotification(result.order.eligibility_result[0].notification) }}
																						</span>
																					</md-card>
																				</div>
																				<div layout="column" style="color: #2065ac; font-size: 0.8em;" flex ng-if="result.transaction.status_code !== 'RV-0000'">
																					<div layout="column">
																						<md-button style="color: white; background-color: red;">NOT ELIGIBLE</md-button>
																					</div>
																					<md-card layout="row" style="padding: 5px 20px;" flex>
																						<div layout="row" layout-align="start center" flex>REASON</div>
																						<div layout="row" layout-align="end center" style="white-space: pre-wrap; text-align: right;" flex>
																							{{ result.transaction.status_code }} <br> {{ result.transaction.status_description }}
																						</div>
																					</md-card>
																					<md-card layout="row" layout-align="space-between none" style="padding: 5px 20px;" flex="nogrow" ng-if="result.order.eligibility_result[0].notification">
																						<span flex>NOTIFICATION</span> <span style="text-align: right;" flex>{{ result.order.eligibility_result[0].notification }}</span>
																					</md-card>
																				</div>
																			</div>
																		</td>
																	</tr>
																	</tbody>
																</table>
															</md-table-container>
														</div>
													</div>
												</div>
											</md-card>
										</md-content>
									</md-tab-body>
								</md-tab>
							</md-tabs>
						</md-card>
      				</div>
      			</div>
      		</md-tab>

            <!-- TAB UMB START HERE -->
			<md-tab style="text-transform: none;" label="UMB" md-on-select="resetInput()" ng-if="visible">
				<div layout="row" flex>
					<div layout="column" flex>
						<md-card layout="column" style="padding: 5px 30px 30px 30px;" flex="nogrow">
							<div layout="column" flex>
								<h3>Request</h3>
								<form layout="column" name="productCheckUmb" flex>
									<div layout="row" flex>
										<div layout="column" flex>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40">Environment</div>
												<div layout="row" layout-align="start center" style="font-size: 0.8em;">
													<md-radio-group ng-model="input.env" layout="row" layout-align="start center" aria-labelledby="environment">
														<md-radio-button value="Preprod" class="md-primary">Preprod</md-radio-button>
														<md-radio-button value="Prod" class="md-primary">Prod</md-radio-button>
													</md-radio-group>
												</div>
											</div>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40"><span>Transaction ID<sup style="color:red; font-weight:bold;font-size:1em;"> * </sup></span></div>
												<md-input-container flex>
													<input name="transaction_id" ng-model="input.transaction_id" style="margin-top: 8px;" aria-label="transaction_id"/>
												</md-input-container>
											</div>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40">MSISDN<sup style="color:red; font-weight:bold;font-size:1em;"> * </sup></div>
												<md-input-container flex>
													<input ng-model="input.msisdn" name="msisdn" ng-pattern="regex.msisdn" style="margin-top: 8px;" aria-label="msisdn"/>
													<div ng-messages="productCheckUmb.msisdn.$error">
														<div ng-message="pattern">Input not valid! Please input numeric.</div>
													</div>
												</md-input-container>
											</div>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40"><span>Product ID / Business ID<sup style="color:red; font-weight:bold;font-size:1em;"> * </sup></span></div>
												<md-input-container flex>
													<input name="bid" ng-pattern="regex.bid" ng-model="input.bid" style="margin-top: 8px;" aria-label="bid"/>
													<div ng-messages="productCheckUmb.bid.$error">
														<div ng-message="pattern">Input not valid! Please input numeric.</div>
													</div>
												</md-input-container>
											</div>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40"><span>Payment Method<sup style="color:red; font-weight:bold;font-size:1em;"> * </sup></span></div>
												<md-input-container flex>
													<md-select aria-label="test" style="margin-top: 18px" flex ng-model="input.paymentMethod" md-on-close="clearSearchTerm()" md-container-class="selectdemoSelectHeader">
														<md-select-header class="demo-select-header">
															<input ng-model="searchTerm" aria-label="Payment Method filter" type="search" ng-keydown="$event.stopPropagation()"
																   placeholder="Ex. RSEMONEY" class="demo-header-searchbox md-text">
														</md-select-header>
														<md-option ng-value="x" ng-repeat="x in paymentMethods | filter:searchTerm track by x">
															{{x}}
														</md-option>
													</md-select>
												</md-input-container>
											</div>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40"><span>Order Type<sup style="color:red; font-weight:bold;font-size:1em;"> * </sup></span></div>
												<md-input-container flex>
													<md-select aria-label="test" style="margin-top: 18px" flex ng-model="input.orderType" md-on-close="clearSearchTerm()" md-container-class="selectdemoSelectHeader">
														<md-select-header class="demo-select-header">
															<input ng-model="searchTerm" aria-label="Purchase Mode filter" type="search" ng-keydown="$event.stopPropagation()"
																   placeholder="Ex. RESELLER" class="demo-header-searchbox md-text">
														</md-select-header>
														<md-option ng-repeat="purchaseMode in purchaseModes | filter:searchTerm track by purchaseMode" ng-value="purchaseMode" >
															{{ purchaseMode }}
														</md-option>
													</md-select>
												</md-input-container>
											</div>
										</div>
										<md-divider style="margin: 0px 25px;"></md-divider>
										<div layout="column" flex>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40"><span>Channel<sup style="color:red; font-weight:bold;font-size:1em;"> * </sup></span></div>
												<md-input-container flex>
													<md-select aria-label="test" style="margin-top: 18px;" flex ng-model="input.channel" md-on-close="clearSearchTerm()" md-container-class="selectdemoSelectHeader">
														<md-select-header class="demo-select-header">
															<input ng-model="searchTerm" aria-label="Channel filter" type="search" ng-keydown="$event.stopPropagation()"
																   placeholder="Ex. DigiPos" class="demo-header-searchbox md-text">
														</md-select-header>
														<md-option ng-repeat="channel in channels | filter:searchTerm track by channel.key" ng-value="channel.key" >
															{{ channel.key }} - {{ channel.name }}
														</md-option>
													</md-select>
												</md-input-container>
											</div>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40">Campaign ID<sup style="color:red; font-weight:bold;font-size:1em;"> * </sup></div>
												<md-input-container flex>
													<input ng-model="input.campaign_id" style="margin-top: 8px;" aria-label="campaign_id"/>
												</md-input-container>
											</div>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40">ADN<sup style="color:red; font-weight:bold;font-size:1em;"> * </sup></div>
												<md-input-container flex>
													<input ng-model="input.adn" style="margin-top: 8px;" aria-label="adn"/>
												</md-input-container>
											</div>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40">Action<sup style="color:red; font-weight:bold;font-size:1em;"> * </sup></div>
												<md-input-container flex>
													<input ng-model="input.action" style="margin-top: 8px;" aria-label="action"/>
												</md-input-container>
											</div>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40">Confirm Option<sup style="color:red; font-weight:bold;font-size:1em;"> * </sup></div>
												<md-input-container flex>
													<input ng-model="input.confirmOption" style="margin-top: 8px;" aria-label="confirmOption"/>
												</md-input-container>
											</div>
											<div layout="row" flex>
												<div layout="row" layout-align="start center" flex="40">Api Key<sup style="color:red; font-weight:bold;font-size:1em;"> * </sup></div>
												<md-input-container flex>
													<input ng-model="input.apiKey" style="margin-top: 8px;" aria-label="apiKey"/>
												</md-input-container>
											</div>
										</div>
									</div>
									<div layout="row">
										<div layout="row" layout-align="start center">
											<span style="color:red; font-weight: bold">*Required</span>
										</div>
										<div layout="row" layout-align="end end" flex>
											<md-button class="md-raised" style="color:#2065ac; background-color: white; text-transform: none; font-size: 0.8em;" ng-click="clearForm(productCheckUmb)">Clear</md-button>
											<div flex="3"></div>
											<md-button class="md-raised" style="text-transform: none; font-size: 0.8em;" ng-disabled="mandatoryFieldEmpty('umb')"
													   ng-style="productCheckUmb.$valid && !mandatoryFieldEmpty('umb')? {'color': 'white', 'background-color': '#2065ac'} : {'background':'silver', 'color':'white'}" ng-click="productCheckingUmb()">
												Check
											</md-button>
										</div>
									</div>
								</form>
							</div>
						</md-card>
						<md-card layout="column" style="padding: 5px 30px 30px 30px;" ng-if="showReview" flex>
							<h3>Validation Result</h3>
							<md-tabs class="tabs-blue md-no-ink-bar-color" md-dynamic-height md-selected="tracking.tabIndex">
								<md-tab ng-if="!isResultSuccessEmpty()">
									<md-tab-label>Success</md-tab-label>
									<md-tab-body>
										<md-content>
											<div layout="column" flex>
												<md-card style="margin: 25px 1px 10px 1px;">
													<div layout="row" style="padding: 15px;" flex>
														<div layout="column" flex>
															<md-card layout="row" style="padding: 5px 20px;" flex>
																<div layout="row" layout-align="start center" flex>Transaction ID</div>
																<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600;" flex>{{ resultSuccess.transaction_id }}</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;" flex>
																<div layout="row" layout-align="start center" flex>MSISDN</div>
																<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600;" flex>
																	{{ input.msisdn }}
																</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;" flex>
																<div layout="row" layout-align="start center" flex>Product ID / BID</div>
																<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600;" flex>
																	{{ input.bid }}
																</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;" flex>
																<div layout="row" layout-align="start center" flex>Payment Method</div>
																<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600;" flex>
																	{{ input.paymentMethod }}</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;" flex>
																<div layout="row" layout-align="start center" flex>Order Type</div>
																<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600;" flex>
																	{{ input.orderType }}</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;" flex>
																<div layout="row" layout-align="start center" flex>Channel</div>
																<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600;" flex>{{ input.channel }}</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;" flex>
																<div layout="row" layout-align="start center" flex>Campaign ID</div>
																<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600;" flex>
																	{{ input.campaign_id }}</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;" flex>
																<div layout="row" layout-align="start center" flex>ADN</div>
																<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600;" flex>
																	{{ input.adn }}</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;" flex>
																<div layout="row" layout-align="start center" flex>Action</div>
																<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600;" flex>
																	{{ input.action }}</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;" flex>
																<div layout="row" layout-align="start center" flex>Confirm Option</div>
																<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600;" flex>
																	{{ input.confirmOption }}</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;" flex>
																<div layout="row" layout-align="start center" flex>Campaign ID</div>
																<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600;" flex>
																	{{ input.apiKey }}</div>
															</md-card>
														</div>
														<md-divider style="margin: 20px 25px;"></md-divider>
														<div layout="column" flex>
															<md-card layout="row" style="padding: 5px 20px;">
																<div layout="row" layout-align="start " flex="25">Success Message</div>
																<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600; text-align: right;" flex>
																	{{ resultSuccess.status_code }}<br>{{ resultSuccess.status_desc }}
																</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;">
																<div layout="row" layout-align="start " flex="25">Menu</div>
																<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600;" flex>
																	{{ resultSuccess.menu.data.code }}.&nbsp;{{ resultSuccess.menu.data[""] }}<br>
																	{{ resultSuccess.back_code}}.&nbsp;Back
																</div>
															</md-card>
														</div>
													</div>
												</md-card>
											</div>
										</md-content>
									</md-tab-body>
								</md-tab>
								<md-tab ng-if="!isResultFailedEmpty()">
									<md-tab-label>Failed</md-tab-label>
									<md-tab-body>
										<md-content>
											<div layout="column" style="overflow-y: scroll; overflow-x: hidden; height: 500px;">
												<md-card style="margin: 25px 1px 10px 1px;">
													<div layout="row" style="padding: 15px;" flex>
														<div layout="column" flex>
															<md-card layout="row" style="padding: 5px 20px;">
																<div layout="row" layout-align="start center" flex>Status Code</div>
																<div layout="row" layout-align="end center" style="color: red; font-weight: 600;" flex>{{ resultFailed.status_code }}</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;">
																<div layout="row" layout-align="start center" flex>Description</div>
																<div layout="row" layout-align="end center" style="color: red; font-weight: 600;" flex>{{ resultFailed.status_desc }}</div>
															</md-card>
															<md-card layout="row" style="padding: 5px 20px;">
																<div layout="row" layout-align="start" flex>Order Notification</div>
																<div layout="row" layout-align="end center" style="color: red; font-weight: 600; text-align: right;" flex>{{ resultFailed.data }}</div>
															</md-card>
														</div>
													</div>
												</md-card>
											</div>
										</md-content>
									</md-tab-body>
								</md-tab>
								<md-tab>
									<md-tab-label>Raw Response</md-tab-label>
									<md-tab-body>
										<md-content>
											<md-card layout="column" flex>
												<div layout="column" style="overflow-y: scroll; overflow-x: auto; height: 500px;" layout-padding="5">
													<pre>{{ result | json }}</pre>
												</div>
											</md-card>
										</md-content>
									</md-tab-body>
								</md-tab>
								<md-tab>
									<md-tab-label>Report</md-tab-label>
									<md-tab-body>
										<md-content>
											<md-card layout="column" flex>
												<div layout="column" layout-padding="5" flex>
													<div layout="row">
														<h4 flex>Result</h4>
														<md-button class="md-raised" style="text-transform: none; font-size: 0.8em; background-color: #2065ac; color: white;" ng-click="exportJsonToPdf('umb')">
															Export to PDF&nbsp;<md-icon md-svg-src="img/pdf-file.svg" style="color: white;" aria-label="file-pdf"></md-icon>
														</md-button>
														<md-button class="md-raised" style="text-transform: none; font-size: 0.8em; background-color: #2065ac; color: white;" ng-click="exportJsonToExcelUmb()">
															Export to Excel&nbsp;<md-icon md-svg-src="img/xlsx-file.svg" style="color: white;" aria-label="file-xlsx"></md-icon>
														</md-button>
														<md-button class="md-raised" style="text-transform: none; font-size: 0.8em;color: white;background-color: #2065ac">Continue to Product FUT</md-button>
													</div>
													<div layout="column" style="padding: 5px; border-style: solid; border-width: thin; border-color: red;" flex id="printableUmb">
														<div layout="row">
															<div layout="row" layout-margin="" flex="nogrow">
																<div layout="row">
																	<img width="210px" src="img/telkomsel_new.png">
																</div>
																<div layout="column" layout-margin="" layout-align="center start">
																	<span style="font-size: 1.6em; font-weight: bold;">Digital Core</span>
																	<span style="font-size: 0.8em;">Product Automation Test Report</span>
																</div>
															</div>
															<md-divider style="margin: 10px 10px; border-color: red;"></md-divider>
															<div layout="column" style="color: #2065ac; font-size: 0.8em;" flex>
																<md-card layout="row" style="padding: 0px 20px;" flex>
																	<div layout="row" layout-align="start center" flex>Tester</div>
																	<div layout="row" layout-align="end center" flex>{{ tester }}</div>
																</md-card>
																<div style="padding: 5px 20px;" flex></div>
															</div>
															<div layout="column" style="color: #2065ac; font-size: 0.8em;" flex>
																<md-card layout="row" style="padding: 5px 20px;" flex>
																	<div layout="row" layout-align="start center" flex="nogrow">Date</div>
																	<div layout="row" layout-align="end center" flex>{{ currentDate }}</div>
																</md-card>
																<md-card layout="row" style="padding: 5px 20px;" flex>
																	<div layout="row" layout-align="start center" flex="nogrow">Time</div>
																	<div layout="row" layout-align="end center" flex>{{ currentTime }}</div>
																</md-card>
															</div>
														</div>
														<md-divider layout="row" style="margin: 10px 0px 0px 0px; background-color: red;"></md-divider>
														<div layout="column" flex>
															<md-table-container>
																<table md-table>
																	<thead md-head md-order="filter.inputSortBy" md-on-reorder="">
																	<tr md-row>
																		<th md-column md-order-by="testId">TEST ID</th>
																		<th md-column md-order-by="bid">BID</th>
																		<th md-column md-order-by="reqTestData" style="width: 40%;">REQUEST AND TEST DATA</th>
																		<th md-column md-order-by="result" style="width: 40%;">RESULT</th>
																	</tr>
																	</thead>
																	<tbody md-body>
																	<tr md-row ng-style="$even ? {'background-color': 'lavender'} : {'background-color': 'whitesmoke'}">
																		<td md-cell style="vertical-align: baseline;">{{ result.transaction_id }}</td>
																		<td md-cell style="vertical-align: baseline;">{{ input.bid }}</td>
																		<td md-cell style="vertical-align: baseline;">
																			<div layout="column" style="color: #2065ac; font-size: 0.8em;" flex>
																				<md-card layout="row" style="padding: 5px 20px;" flex>
																					<div layout="row" layout-align="start center" style="opacity: 70%;" flex>MSISDN</div>
																					<div layout="row" layout-align="end center" flex>{{ input.msisdn }}</div>
																				</md-card>
																				<md-card layout="row" style="padding: 5px 20px;" flex>
																					<div layout="row" layout-align="start center" style="opacity: 70%;" flex>PAYMENT METHOD</div>
																					<div layout="row" layout-align="end center" flex>{{ input.paymentMethod }}</div>
																				</md-card>
																				<md-card layout="row" style="padding: 5px 20px;" flex>
																					<div layout="row" layout-align="start center" style="opacity: 70%;" flex>ORDER TYPE</div>
																					<div layout="row" layout-align="end center" flex>{{ input.orderType }}</div>
																				</md-card>
																				<md-card layout="row" style="padding: 5px 20px;" flex>
																					<div layout="row" layout-align="start center" style="opacity: 70%;" flex>CHANNEL</div>
																					<div layout="row" layout-align="end center" flex>{{ input.channel }}</div>
																				</md-card>
																				<md-card layout="row" style="padding: 5px 20px;" flex>
																					<div layout="row" layout-align="start center" style="opacity: 70%;" flex>CAMPAIGN ID</div>
																					<div layout="row" layout-align="end center" flex>{{ input.campaign_id }}</div>
																				</md-card>
																				<md-card layout="row" style="padding: 5px 20px;" flex>
																					<div layout="row" layout-align="start center" style="opacity: 70%;" flex>ADN</div>
																					<div layout="row" layout-align="end center" flex>{{ input.adn }}</div>
																				</md-card>
																				<md-card layout="row" style="padding: 5px 20px;" flex>
																					<div layout="row" layout-align="start center" style="opacity: 70%;" flex>ACTION</div>
																					<div layout="row" layout-align="end center" flex>{{ input.action }}</div>
																				</md-card>
																				<md-card layout="row" style="padding: 5px 20px;" flex>
																					<div layout="row" layout-align="start center" style="opacity: 70%;" flex>CONFIRM OPTION</div>
																					<div layout="row" layout-align="end center" flex>{{ input.confirmOption }}</div>
																				</md-card>
																				<md-card layout="row" style="padding: 5px 20px;" flex>
																					<div layout="row" layout-align="start center" style="opacity: 70%;" flex>API KEY</div>
																					<div layout="row" layout-align="end center" flex>{{ input.apiKey }}</div>
																				</md-card>
																			</div>
																		</td>
																		<td md-cell style="vertical-align: baseline;">
																			<div layout="row" flex>
																				<div layout="column" style="color: #2065ac; font-size: 0.8em;" flex ng-if="result.status_code === '00000'">
																					<div layout="column">
																						<md-button style="color: white; background-color: limegreen;">ELIGIBLE</md-button>
																					</div>
																					<md-card layout="row" style="padding: 5px 20px;">
																						<div layout="row" layout-align="start " flex="25">Success Message</div>
																						<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600; text-align: right;" flex>
																							{{ resultSuccess.status_code }}<br>{{ resultSuccess.status_desc }}
																						</div>
																					</md-card>
																					<md-card layout="row" style="padding: 5px 20px;">
																						<div layout="row" layout-align="start " flex="25">Menu</div>
																						<div layout="row" layout-align="end center" style="color: #172b4d; font-weight: 600;" flex>
																							{{ resultSuccess.menu.data.code }}.&nbsp;{{ resultSuccess.menu.data[""] }}<br>
																							{{ resultSuccess.back_code}}.&nbsp;Back
																						</div>
																					</md-card>
																				</div>
																				<div layout="column" style="color: #2065ac; font-size: 0.8em;" flex ng-if="result.status_code !== '00000'">
																					<div layout="column">
																						<md-button style="color: white; background-color: red;">NOT ELIGIBLE</md-button>
																					</div>
																					<md-card layout="row" style="padding: 5px 20px;" flex>
																						<div layout="row" layout-align="start center" flex>REASON</div>
																						<div layout="row" layout-align="end center" style="white-space: pre-wrap; text-align: right;" flex>
																							{{ result.status_code }} <br> {{ result.status_desc }}
																						</div>
																					</md-card>
																					<md-card layout="row" layout-align="space-between none" style="padding: 5px 20px;" flex="nogrow" ng-if="result.data">
																						<span flex>NOTIFICATION</span> <span style="text-align: right;" flex>{{ result.data }}</span>
																					</md-card>
																				</div>
																			</div>
																		</td>
																	</tr>
																	</tbody>
																</table>
															</md-table-container>
														</div>
													</div>
												</div>
											</md-card>
										</md-content>
									</md-tab-body>
								</md-tab>
							</md-tabs>
						</md-card>
					</div>
				</div>
			</md-tab>
      	</md-tabs>
	</div>
</md-content>